4shared_Java/4shared.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.soap.shared.pmstation.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.soap.shared.pmstation.com/" name="DesktopAppJax2Service">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://api.4shared.com:80/jax3/DesktopApp?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://api.soap.shared.pmstation.com/" schemaLocation="http://api.4shared.com:80/jax3/DesktopApp?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="login">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="loginResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getMaxFileSize">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getMaxFileSizeResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getSettingGroups">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getSettingGroupsResponse">
<part name="return" type="tns:settingsGroupArray"></part>
</message>
<message name="addToMyAccount">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="addToMyAccountResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="addToFavorites">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="addToFavoritesResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="removeFromFavorites">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="removeFromFavoritesResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="emptyRecycleBin">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="emptyRecycleBinResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="getMp3FileInfo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getMp3FileInfoResponse">
<part name="return" type="tns:mp3Info"></part>
</message>
<message name="getMp3FileInfos">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getMp3FileInfosResponse">
<part name="return" type="tns:mp3InfoArray"></part>
</message>
<message name="getExifFileInfos">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getExifFileInfosResponse">
<part name="return" type="tns:exifInfoArray"></part>
</message>
<message name="getExifFileInfo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getExifFileInfoResponse">
<part name="return" type="tns:exifInfo"></part>
</message>
<message name="getAccountInfo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getAccountInfoResponse">
<part name="return" type="tns:accountInfo"></part>
</message>
<message name="getVideoPreviewLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getVideoPreviewLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getSmallImageLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:int"></part>
</message>
<message name="getSmallImageLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getSharedPlaylistLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
</message>
<message name="getSharedPlaylistLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getFileVersionLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:int"></part>
</message>
<message name="getFileVersionLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="firstRun">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="firstRunResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="reportErrorLog">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="reportErrorLogResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="checkCreateFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:long"></part>
<part name="arg4" type="xsd:base64Binary"></part>
<part name="arg5" type="xsd:long"></part>
</message>
<message name="checkCreateFileResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="restorePassword">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="restorePasswordResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="changePassword">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="changePasswordResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="searchAccount">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:int"></part>
</message>
<message name="searchAccountResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getResumableInfo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getResumableInfoResponse">
<part name="return" type="tns:resumableEntityArray"></part>
</message>
<message name="verifyEmail">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="verifyEmailResponse">
<part name="return" type="tns:baseResponse"></part>
</message>
<message name="renameFileEx">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="renameFileExResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="renameFolderEx">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="renameFolderExResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="deleteFolders">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg2" type="ns1:longArray"></part>
</message>
<message name="deleteFoldersResponse"></message>
<message name="restoreFolder">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="restoreFolderResponse"></message>
<message name="restoreFolders">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="arg2" type="ns2:longArray"></part>
</message>
<message name="restoreFoldersResponse"></message>
<message name="getSharedDirSize">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getSharedDirSizeResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="notificationsStatus">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="notificationsStatusResponse">
<part name="return" type="tns:notificationsTypeResponse"></part>
</message>
<message name="notificationsList">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
<part name="arg3" type="xsd:int"></part>
</message>
<message name="notificationsListResponse">
<part name="return" type="tns:notificationResponseArray"></part>
</message>
<message name="notificationsMarkAsSeen">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="notificationsMarkAsSeenResponse">
<part name="return" type="tns:notificationResponseArray"></part>
</message>
<message name="getNotRecursiveHistories">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="arg2" type="ns3:longArray"></part>
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="arg3" type="ns4:longArray"></part>
</message>
<message name="getNotRecursiveHistoriesResponse">
<part name="return" type="tns:dirHistoryDTOArrayArray"></part>
</message>
<message name="getOperationDescriptions"></message>
<message name="getOperationDescriptionsResponse">
<part xmlns:ns5="http://jaxb.dev.java.net/array" name="return" type="ns5:stringArray"></part>
</message>
<message name="getOwnedSizeLimit"></message>
<message name="getOwnedSizeLimitResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getRecycleBinItems">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getRecycleBinItemsResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getDirLinkItems">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getDirLinkItemsResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getSharedDirItems">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
</message>
<message name="getSharedDirItemsResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getUploadFormUrl">
<part name="arg0" type="xsd:int"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getUploadFormUrlResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="hasRightUpload"></message>
<message name="hasRightUploadResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="isAccountActive">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="isAccountActiveResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="isAccountBanned">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="isAccountBannedResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="isAccountPremium">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="isAccountPremiumResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="isExistsLoginPassword">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="isExistsLoginPasswordResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="pasteFilesDirs">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:boolean"></part>
<part xmlns:ns6="http://jaxb.dev.java.net/array" name="arg4" type="ns6:longArray"></part>
<part xmlns:ns7="http://jaxb.dev.java.net/array" name="arg5" type="ns7:longArray"></part>
</message>
<message name="pasteFilesDirsResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="renameFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="renameFileResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="renameFolder">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="renameFolderResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="restoreFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="restoreFileResponse"></message>
<message name="restoreFiles">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns8="http://jaxb.dev.java.net/array" name="arg2" type="ns8:longArray"></part>
</message>
<message name="restoreFilesResponse"></message>
<message name="setFolderSharingProperties">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="tns:sharedFolderProperties"></part>
</message>
<message name="setFolderSharingPropertiesResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="signup">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="signupResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="signupWithName">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="signupWithNameResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="syncFinished">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="syncFinishedResponse"></message>
<message name="uploadCancelFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="uploadCancelFileResponse"></message>
<message name="uploaderLoggedIn">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="uploaderLoggedInResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="uploadFinishFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="uploadFinishFileResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="uploadStartedFileExists">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="uploadStartedFileExistsResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="uploadStartFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:long"></part>
</message>
<message name="uploadStartFileResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="uploadStartFileUpdate">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:long"></part>
</message>
<message name="uploadStartFileUpdateResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="signupUsername">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="signupUsernameResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="signupUsernameWithName">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
</message>
<message name="signupUsernameWithNameResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getAllSettings">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getAllSettingsResponse">
<part name="return" type="tns:userSettingsArray"></part>
</message>
<message name="getToolVersion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getToolVersionResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getFileDescription">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getFileDescriptionResponse">
<part xmlns:ns9="http://jaxb.dev.java.net/array" name="return" type="ns9:stringArray"></part>
</message>
<message name="getDirDescription">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getDirDescriptionResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="simpleUploadStart">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:long"></part>
</message>
<message name="simpleUploadStartResponse">
<part name="return" type="tns:fileUploadInfo"></part>
</message>
<message name="applySettings">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="tns:userSettings"></part>
</message>
<message name="applySettingsResponse">
<part xmlns:ns10="http://jaxb.dev.java.net/array" name="return" type="ns10:stringArray"></part>
</message>
<message name="checkSharedDirAccess">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
</message>
<message name="checkSharedDirAccessResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="checkSubdomain">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="checkSubdomainResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="createNewFolder">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="createNewFolderResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="createUploadSessionKey">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="createUploadSessionKeyResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="creatNewFolder">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="creatNewFolderResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="decodeId">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="decodeIdResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="decodeLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="decodeLinkResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="deleteFileFinal">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="deleteFileFinalResponse"></message>
<message name="deleteFolder">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="deleteFolderResponse"></message>
<message name="deleteFolderFinal">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="deleteFolderFinalResponse"></message>
<message name="downloadFinished">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="downloadFinishedResponse"></message>
<message name="getAllItems">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getAllItemsResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getCurrentUploaderVersion"></message>
<message name="getCurrentUploaderVersionResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getDirectLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getDirectLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getDirInfo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getDirInfoResponse">
<part name="return" type="tns:accountItem"></part>
</message>
<message name="getFileDownloadLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getFileDownloadLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getFileInfo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getFileInfoResponse">
<part name="return" type="tns:accountItem"></part>
</message>
<message name="getFolderSharingProperties">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getFolderSharingPropertiesResponse">
<part name="return" type="tns:sharedFolderPropertiesArray"></part>
</message>
<message name="getHistoriesFromId">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns11="http://jaxb.dev.java.net/array" name="arg2" type="ns11:longArray"></part>
<part xmlns:ns12="http://jaxb.dev.java.net/array" name="arg3" type="ns12:longArray"></part>
</message>
<message name="getHistoriesFromIdResponse">
<part name="return" type="tns:dirHistoryDTOArrayArray"></part>
</message>
<message name="getHistory">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getHistoryResponse">
<part name="return" type="tns:dirHistoryDTOArray"></part>
</message>
<message name="getHistoryFromId">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:long"></part>
</message>
<message name="getHistoryFromIdResponse">
<part name="return" type="tns:dirHistoryDTOArray"></part>
</message>
<message name="getHistoryLastId">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getHistoryLastIdResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getItemInfo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:boolean"></part>
</message>
<message name="getItemInfoResponse">
<part name="return" type="tns:accountItem"></part>
</message>
<message name="getItemsCount">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getItemsCountResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getItemsPartial">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:int"></part>
<part name="arg4" type="xsd:int"></part>
</message>
<message name="getItemsPartialResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getNewFileDataCenter">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getNewFileDataCenterResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getNotOwnedSizeLimit"></message>
<message name="getNotOwnedSizeLimitResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="setFileDescription">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:boolean"></part>
<part name="arg7" type="xsd:boolean"></part>
</message>
<message name="setFileDescriptionResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="setDirDescription">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:boolean"></part>
<part name="arg5" type="xsd:boolean"></part>
</message>
<message name="setDirDescriptionResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="reportAbuse">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:boolean"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:string"></part>
<part name="arg8" type="xsd:string"></part>
<part name="arg9" type="xsd:string"></part>
</message>
<message name="reportAbuseResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="checkSettings">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="tns:userSettings"></part>
</message>
<message name="checkSettingsResponse">
<part xmlns:ns13="http://jaxb.dev.java.net/array" name="return" type="ns13:stringArray"></part>
</message>
<message name="getToolList"></message>
<message name="getToolListResponse">
<part xmlns:ns14="http://jaxb.dev.java.net/array" name="return" type="ns14:stringArray"></part>
</message>
<message name="getToolUrl">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getToolUrlResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getRoot">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getRootResponse">
<part name="return" type="tns:accountItem"></part>
</message>
<message name="reportError">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="reportErrorResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="markSynchronized">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="markSynchronizedResponse"></message>
<message name="isVerified">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="isVerifiedResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getFavorites">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getFavoritesResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getAllFolders">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getAllFoldersResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="checkFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="checkFileResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getFiles">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part xmlns:ns15="http://jaxb.dev.java.net/array" name="arg2" type="ns15:longArray"></part>
</message>
<message name="getFilesResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="getSettings">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:int"></part>
</message>
<message name="getSettingsResponse">
<part name="return" type="tns:userSettings"></part>
</message>
<message name="getPreviewLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getPreviewLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getSpaceLimit">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getSpaceLimitResponse">
<part name="return" type="xsd:long"></part>
</message>
<message name="getPlaylistLink">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getPlaylistLinkResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="deleteFile">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="deleteFileResponse"></message>
<message name="getItems">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:long"></part>
</message>
<message name="getItemsResponse">
<part name="return" type="tns:accountItemArray"></part>
</message>
<message name="run">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="runResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getFreeSpace">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getFreeSpaceResponse">
<part name="return" type="xsd:long"></part>
</message>
<portType name="DesktopAppJax2">
<operation name="login" parameterOrder="arg0 arg1">
<input message="tns:login"></input>
<output message="tns:loginResponse"></output>
</operation>
<operation name="getMaxFileSize" parameterOrder="arg0 arg1">
<input message="tns:getMaxFileSize"></input>
<output message="tns:getMaxFileSizeResponse"></output>
</operation>
<operation name="getSettingGroups" parameterOrder="arg0 arg1">
<input message="tns:getSettingGroups"></input>
<output message="tns:getSettingGroupsResponse"></output>
</operation>
<operation name="addToMyAccount" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:addToMyAccount"></input>
<output message="tns:addToMyAccountResponse"></output>
</operation>
<operation name="addToFavorites" parameterOrder="arg0 arg1 arg2">
<input message="tns:addToFavorites"></input>
<output message="tns:addToFavoritesResponse"></output>
</operation>
<operation name="removeFromFavorites" parameterOrder="arg0 arg1 arg2">
<input message="tns:removeFromFavorites"></input>
<output message="tns:removeFromFavoritesResponse"></output>
</operation>
<operation name="emptyRecycleBin" parameterOrder="arg0 arg1">
<input message="tns:emptyRecycleBin"></input>
<output message="tns:emptyRecycleBinResponse"></output>
</operation>
<operation name="getMp3FileInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getMp3FileInfo"></input>
<output message="tns:getMp3FileInfoResponse"></output>
</operation>
<operation name="getMp3FileInfos" parameterOrder="arg0 arg1 arg2">
<input message="tns:getMp3FileInfos"></input>
<output message="tns:getMp3FileInfosResponse"></output>
</operation>
<operation name="getExifFileInfos" parameterOrder="arg0 arg1 arg2">
<input message="tns:getExifFileInfos"></input>
<output message="tns:getExifFileInfosResponse"></output>
</operation>
<operation name="getExifFileInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getExifFileInfo"></input>
<output message="tns:getExifFileInfoResponse"></output>
</operation>
<operation name="getAccountInfo" parameterOrder="arg0 arg1">
<input message="tns:getAccountInfo"></input>
<output message="tns:getAccountInfoResponse"></output>
</operation>
<operation name="getVideoPreviewLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getVideoPreviewLink"></input>
<output message="tns:getVideoPreviewLinkResponse"></output>
</operation>
<operation name="getSmallImageLink" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getSmallImageLink"></input>
<output message="tns:getSmallImageLinkResponse"></output>
</operation>
<operation name="getSharedPlaylistLink" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:getSharedPlaylistLink"></input>
<output message="tns:getSharedPlaylistLinkResponse"></output>
</operation>
<operation name="getFileVersionLink" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getFileVersionLink"></input>
<output message="tns:getFileVersionLinkResponse"></output>
</operation>
<operation name="firstRun" parameterOrder="arg0 arg1">
<input message="tns:firstRun"></input>
<output message="tns:firstRunResponse"></output>
</operation>
<operation name="reportErrorLog" parameterOrder="arg0 arg1 arg2">
<input message="tns:reportErrorLog"></input>
<output message="tns:reportErrorLogResponse"></output>
</operation>
<operation name="checkCreateFile" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input message="tns:checkCreateFile"></input>
<output message="tns:checkCreateFileResponse"></output>
</operation>
<operation name="restorePassword">
<input message="tns:restorePassword"></input>
<output message="tns:restorePasswordResponse"></output>
</operation>
<operation name="changePassword" parameterOrder="arg0 arg1 arg2">
<input message="tns:changePassword"></input>
<output message="tns:changePasswordResponse"></output>
</operation>
<operation name="searchAccount" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:searchAccount"></input>
<output message="tns:searchAccountResponse"></output>
</operation>
<operation name="getResumableInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getResumableInfo"></input>
<output message="tns:getResumableInfoResponse"></output>
</operation>
<operation name="verifyEmail" parameterOrder="arg0 arg1">
<input message="tns:verifyEmail"></input>
<output message="tns:verifyEmailResponse"></output>
</operation>
<operation name="renameFileEx" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:renameFileEx"></input>
<output message="tns:renameFileExResponse"></output>
</operation>
<operation name="renameFolderEx" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:renameFolderEx"></input>
<output message="tns:renameFolderExResponse"></output>
</operation>
<operation name="deleteFolders" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFolders"></input>
<output message="tns:deleteFoldersResponse"></output>
</operation>
<operation name="restoreFolder" parameterOrder="arg0 arg1 arg2">
<input message="tns:restoreFolder"></input>
<output message="tns:restoreFolderResponse"></output>
</operation>
<operation name="restoreFolders" parameterOrder="arg0 arg1 arg2">
<input message="tns:restoreFolders"></input>
<output message="tns:restoreFoldersResponse"></output>
</operation>
<operation name="getSharedDirSize" parameterOrder="arg0 arg1 arg2">
<input message="tns:getSharedDirSize"></input>
<output message="tns:getSharedDirSizeResponse"></output>
</operation>
<operation name="notificationsStatus" parameterOrder="arg0 arg1">
<input message="tns:notificationsStatus"></input>
<output message="tns:notificationsStatusResponse"></output>
</operation>
<operation name="notificationsList" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:notificationsList"></input>
<output message="tns:notificationsListResponse"></output>
</operation>
<operation name="notificationsMarkAsSeen" parameterOrder="arg0 arg1 arg2">
<input message="tns:notificationsMarkAsSeen"></input>
<output message="tns:notificationsMarkAsSeenResponse"></output>
</operation>
<operation name="getNotRecursiveHistories" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getNotRecursiveHistories"></input>
<output message="tns:getNotRecursiveHistoriesResponse"></output>
</operation>
<operation name="getOperationDescriptions">
<input message="tns:getOperationDescriptions"></input>
<output message="tns:getOperationDescriptionsResponse"></output>
</operation>
<operation name="getOwnedSizeLimit">
<input message="tns:getOwnedSizeLimit"></input>
<output message="tns:getOwnedSizeLimitResponse"></output>
</operation>
<operation name="getRecycleBinItems" parameterOrder="arg0 arg1">
<input message="tns:getRecycleBinItems"></input>
<output message="tns:getRecycleBinItemsResponse"></output>
</operation>
<operation name="getDirLinkItems" parameterOrder="arg0 arg1">
<input message="tns:getDirLinkItems"></input>
<output message="tns:getDirLinkItemsResponse"></output>
</operation>
<operation name="getSharedDirItems" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:getSharedDirItems"></input>
<output message="tns:getSharedDirItemsResponse"></output>
</operation>
<operation name="getUploadFormUrl" parameterOrder="arg0 arg1">
<input message="tns:getUploadFormUrl"></input>
<output message="tns:getUploadFormUrlResponse"></output>
</operation>
<operation name="hasRightUpload">
<input message="tns:hasRightUpload"></input>
<output message="tns:hasRightUploadResponse"></output>
</operation>
<operation name="isAccountActive" parameterOrder="arg0 arg1">
<input message="tns:isAccountActive"></input>
<output message="tns:isAccountActiveResponse"></output>
</operation>
<operation name="isAccountBanned" parameterOrder="arg0 arg1">
<input message="tns:isAccountBanned"></input>
<output message="tns:isAccountBannedResponse"></output>
</operation>
<operation name="isAccountPremium" parameterOrder="arg0 arg1">
<input message="tns:isAccountPremium"></input>
<output message="tns:isAccountPremiumResponse"></output>
</operation>
<operation name="isExistsLoginPassword" parameterOrder="arg0 arg1">
<input message="tns:isExistsLoginPassword"></input>
<output message="tns:isExistsLoginPasswordResponse"></output>
</operation>
<operation name="pasteFilesDirs" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input message="tns:pasteFilesDirs"></input>
<output message="tns:pasteFilesDirsResponse"></output>
</operation>
<operation name="renameFile" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:renameFile"></input>
<output message="tns:renameFileResponse"></output>
</operation>
<operation name="renameFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:renameFolder"></input>
<output message="tns:renameFolderResponse"></output>
</operation>
<operation name="restoreFile" parameterOrder="arg0 arg1 arg2">
<input message="tns:restoreFile"></input>
<output message="tns:restoreFileResponse"></output>
</operation>
<operation name="restoreFiles" parameterOrder="arg0 arg1 arg2">
<input message="tns:restoreFiles"></input>
<output message="tns:restoreFilesResponse"></output>
</operation>
<operation name="setFolderSharingProperties" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:setFolderSharingProperties"></input>
<output message="tns:setFolderSharingPropertiesResponse"></output>
</operation>
<operation name="signup" parameterOrder="arg0 arg1">
<input message="tns:signup"></input>
<output message="tns:signupResponse"></output>
</operation>
<operation name="signupWithName" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:signupWithName"></input>
<output message="tns:signupWithNameResponse"></output>
</operation>
<operation name="syncFinished" parameterOrder="arg0 arg1 arg2">
<input message="tns:syncFinished"></input>
<output message="tns:syncFinishedResponse"></output>
</operation>
<operation name="uploadCancelFile" parameterOrder="arg0 arg1 arg2">
<input message="tns:uploadCancelFile"></input>
<output message="tns:uploadCancelFileResponse"></output>
</operation>
<operation name="uploaderLoggedIn" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:uploaderLoggedIn"></input>
<output message="tns:uploaderLoggedInResponse"></output>
</operation>
<operation name="uploadFinishFile" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:uploadFinishFile"></input>
<output message="tns:uploadFinishFileResponse"></output>
</operation>
<operation name="uploadStartedFileExists" parameterOrder="arg0 arg1 arg2">
<input message="tns:uploadStartedFileExists"></input>
<output message="tns:uploadStartedFileExistsResponse"></output>
</operation>
<operation name="uploadStartFile" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:uploadStartFile"></input>
<output message="tns:uploadStartFileResponse"></output>
</operation>
<operation name="uploadStartFileUpdate" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:uploadStartFileUpdate"></input>
<output message="tns:uploadStartFileUpdateResponse"></output>
</operation>
<operation name="signupUsername" parameterOrder="arg0 arg1 arg2">
<input message="tns:signupUsername"></input>
<output message="tns:signupUsernameResponse"></output>
</operation>
<operation name="signupUsernameWithName" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:signupUsernameWithName"></input>
<output message="tns:signupUsernameWithNameResponse"></output>
</operation>
<operation name="getAllSettings" parameterOrder="arg0 arg1">
<input message="tns:getAllSettings"></input>
<output message="tns:getAllSettingsResponse"></output>
</operation>
<operation name="getToolVersion" parameterOrder="arg0 arg1">
<input message="tns:getToolVersion"></input>
<output message="tns:getToolVersionResponse"></output>
</operation>
<operation name="getFileDescription" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFileDescription"></input>
<output message="tns:getFileDescriptionResponse"></output>
</operation>
<operation name="getDirDescription" parameterOrder="arg0 arg1 arg2">
<input message="tns:getDirDescription"></input>
<output message="tns:getDirDescriptionResponse"></output>
</operation>
<operation name="simpleUploadStart" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:simpleUploadStart"></input>
<output message="tns:simpleUploadStartResponse"></output>
</operation>
<operation name="applySettings" parameterOrder="arg0 arg1 arg2">
<input message="tns:applySettings"></input>
<output message="tns:applySettingsResponse"></output>
</operation>
<operation name="checkSharedDirAccess" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:checkSharedDirAccess"></input>
<output message="tns:checkSharedDirAccessResponse"></output>
</operation>
<operation name="checkSubdomain" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:checkSubdomain"></input>
<output message="tns:checkSubdomainResponse"></output>
</operation>
<operation name="createNewFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:createNewFolder"></input>
<output message="tns:createNewFolderResponse"></output>
</operation>
<operation name="createUploadSessionKey" parameterOrder="arg0 arg1 arg2">
<input message="tns:createUploadSessionKey"></input>
<output message="tns:createUploadSessionKeyResponse"></output>
</operation>
<operation name="creatNewFolder" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:creatNewFolder"></input>
<output message="tns:creatNewFolderResponse"></output>
</operation>
<operation name="decodeId" parameterOrder="arg0 arg1 arg2">
<input message="tns:decodeId"></input>
<output message="tns:decodeIdResponse"></output>
</operation>
<operation name="decodeLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:decodeLink"></input>
<output message="tns:decodeLinkResponse"></output>
</operation>
<operation name="deleteFileFinal" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFileFinal"></input>
<output message="tns:deleteFileFinalResponse"></output>
</operation>
<operation name="deleteFolder" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFolder"></input>
<output message="tns:deleteFolderResponse"></output>
</operation>
<operation name="deleteFolderFinal" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFolderFinal"></input>
<output message="tns:deleteFolderFinalResponse"></output>
</operation>
<operation name="downloadFinished" parameterOrder="arg0 arg1 arg2">
<input message="tns:downloadFinished"></input>
<output message="tns:downloadFinishedResponse"></output>
</operation>
<operation name="getAllItems" parameterOrder="arg0 arg1">
<input message="tns:getAllItems"></input>
<output message="tns:getAllItemsResponse"></output>
</operation>
<operation name="getCurrentUploaderVersion">
<input message="tns:getCurrentUploaderVersion"></input>
<output message="tns:getCurrentUploaderVersionResponse"></output>
</operation>
<operation name="getDirectLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getDirectLink"></input>
<output message="tns:getDirectLinkResponse"></output>
</operation>
<operation name="getDirInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getDirInfo"></input>
<output message="tns:getDirInfoResponse"></output>
</operation>
<operation name="getFileDownloadLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFileDownloadLink"></input>
<output message="tns:getFileDownloadLinkResponse"></output>
</operation>
<operation name="getFileInfo" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFileInfo"></input>
<output message="tns:getFileInfoResponse"></output>
</operation>
<operation name="getFolderSharingProperties" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFolderSharingProperties"></input>
<output message="tns:getFolderSharingPropertiesResponse"></output>
</operation>
<operation name="getHistoriesFromId" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getHistoriesFromId"></input>
<output message="tns:getHistoriesFromIdResponse"></output>
</operation>
<operation name="getHistory" parameterOrder="arg0 arg1 arg2">
<input message="tns:getHistory"></input>
<output message="tns:getHistoryResponse"></output>
</operation>
<operation name="getHistoryFromId" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getHistoryFromId"></input>
<output message="tns:getHistoryFromIdResponse"></output>
</operation>
<operation name="getHistoryLastId" parameterOrder="arg0 arg1 arg2">
<input message="tns:getHistoryLastId"></input>
<output message="tns:getHistoryLastIdResponse"></output>
</operation>
<operation name="getItemInfo" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:getItemInfo"></input>
<output message="tns:getItemInfoResponse"></output>
</operation>
<operation name="getItemsCount" parameterOrder="arg0 arg1 arg2">
<input message="tns:getItemsCount"></input>
<output message="tns:getItemsCountResponse"></output>
</operation>
<operation name="getItemsPartial" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input message="tns:getItemsPartial"></input>
<output message="tns:getItemsPartialResponse"></output>
</operation>
<operation name="getNewFileDataCenter" parameterOrder="arg0 arg1">
<input message="tns:getNewFileDataCenter"></input>
<output message="tns:getNewFileDataCenterResponse"></output>
</operation>
<operation name="getNotOwnedSizeLimit">
<input message="tns:getNotOwnedSizeLimit"></input>
<output message="tns:getNotOwnedSizeLimitResponse"></output>
</operation>
<operation name="setFileDescription" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input message="tns:setFileDescription"></input>
<output message="tns:setFileDescriptionResponse"></output>
</operation>
<operation name="setDirDescription" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input message="tns:setDirDescription"></input>
<output message="tns:setDirDescriptionResponse"></output>
</operation>
<operation name="reportAbuse" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
<input message="tns:reportAbuse"></input>
<output message="tns:reportAbuseResponse"></output>
</operation>
<operation name="checkSettings" parameterOrder="arg0 arg1 arg2">
<input message="tns:checkSettings"></input>
<output message="tns:checkSettingsResponse"></output>
</operation>
<operation name="getToolList">
<input message="tns:getToolList"></input>
<output message="tns:getToolListResponse"></output>
</operation>
<operation name="getToolUrl" parameterOrder="arg0 arg1">
<input message="tns:getToolUrl"></input>
<output message="tns:getToolUrlResponse"></output>
</operation>
<operation name="getRoot" parameterOrder="arg0 arg1">
<input message="tns:getRoot"></input>
<output message="tns:getRootResponse"></output>
</operation>
<operation name="reportError" parameterOrder="arg0 arg1 arg2">
<input message="tns:reportError"></input>
<output message="tns:reportErrorResponse"></output>
</operation>
<operation name="markSynchronized" parameterOrder="arg0 arg1 arg2">
<input message="tns:markSynchronized"></input>
<output message="tns:markSynchronizedResponse"></output>
</operation>
<operation name="isVerified" parameterOrder="arg0 arg1">
<input message="tns:isVerified"></input>
<output message="tns:isVerifiedResponse"></output>
</operation>
<operation name="getFavorites" parameterOrder="arg0 arg1">
<input message="tns:getFavorites"></input>
<output message="tns:getFavoritesResponse"></output>
</operation>
<operation name="getAllFolders" parameterOrder="arg0 arg1">
<input message="tns:getAllFolders"></input>
<output message="tns:getAllFoldersResponse"></output>
</operation>
<operation name="checkFile" parameterOrder="arg0 arg1 arg2">
<input message="tns:checkFile"></input>
<output message="tns:checkFileResponse"></output>
</operation>
<operation name="getFiles" parameterOrder="arg0 arg1 arg2">
<input message="tns:getFiles"></input>
<output message="tns:getFilesResponse"></output>
</operation>
<operation name="getSettings" parameterOrder="arg0 arg1 arg2">
<input message="tns:getSettings"></input>
<output message="tns:getSettingsResponse"></output>
</operation>
<operation name="getPreviewLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getPreviewLink"></input>
<output message="tns:getPreviewLinkResponse"></output>
</operation>
<operation name="getSpaceLimit" parameterOrder="arg0 arg1">
<input message="tns:getSpaceLimit"></input>
<output message="tns:getSpaceLimitResponse"></output>
</operation>
<operation name="getPlaylistLink" parameterOrder="arg0 arg1 arg2">
<input message="tns:getPlaylistLink"></input>
<output message="tns:getPlaylistLinkResponse"></output>
</operation>
<operation name="deleteFile" parameterOrder="arg0 arg1 arg2">
<input message="tns:deleteFile"></input>
<output message="tns:deleteFileResponse"></output>
</operation>
<operation name="getItems" parameterOrder="arg0 arg1 arg2">
<input message="tns:getItems"></input>
<output message="tns:getItemsResponse"></output>
</operation>
<operation name="run" parameterOrder="arg0 arg1 arg2 arg3">
<input message="tns:run"></input>
<output message="tns:runResponse"></output>
</operation>
<operation name="getFreeSpace" parameterOrder="arg0 arg1">
<input message="tns:getFreeSpace"></input>
<output message="tns:getFreeSpaceResponse"></output>
</operation>
</portType>
<binding name="DesktopAppJax2PortBinding" type="tns:DesktopAppJax2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getMaxFileSize">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getSettingGroups">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="addToMyAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="addToFavorites">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="removeFromFavorites">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="emptyRecycleBin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getMp3FileInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getMp3FileInfos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getExifFileInfos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getExifFileInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getAccountInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getVideoPreviewLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getSmallImageLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getSharedPlaylistLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFileVersionLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="firstRun">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="reportErrorLog">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="checkCreateFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="restorePassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="changePassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="searchAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getResumableInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="verifyEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="renameFileEx">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="renameFolderEx">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="deleteFolders">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="restoreFolder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="restoreFolders">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getSharedDirSize">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="notificationsStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="notificationsList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="notificationsMarkAsSeen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getNotRecursiveHistories">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getOperationDescriptions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getOwnedSizeLimit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getRecycleBinItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getDirLinkItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getSharedDirItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getUploadFormUrl">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="hasRightUpload">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="isAccountActive">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="isAccountBanned">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="isAccountPremium">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="isExistsLoginPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="pasteFilesDirs">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="renameFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="renameFolder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="restoreFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="restoreFiles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="setFolderSharingProperties">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="signup">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="signupWithName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="syncFinished">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="uploadCancelFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="uploaderLoggedIn">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="uploadFinishFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="uploadStartedFileExists">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="uploadStartFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="uploadStartFileUpdate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="signupUsername">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="signupUsernameWithName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getAllSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getToolVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFileDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getDirDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="simpleUploadStart">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="applySettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="checkSharedDirAccess">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="checkSubdomain">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="createNewFolder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="createUploadSessionKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="creatNewFolder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="decodeId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="decodeLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="deleteFileFinal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="deleteFolder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="deleteFolderFinal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="downloadFinished">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getAllItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getCurrentUploaderVersion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getDirectLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getDirInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFileDownloadLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFileInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFolderSharingProperties">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getHistoriesFromId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getHistoryFromId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getHistoryLastId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getItemInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getItemsCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getItemsPartial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getNewFileDataCenter">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getNotOwnedSizeLimit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="setFileDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="setDirDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="reportAbuse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="checkSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getToolList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getToolUrl">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getRoot">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="reportError">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="markSynchronized">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="isVerified">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFavorites">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getAllFolders">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="checkFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFiles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getPreviewLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getSpaceLimit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getPlaylistLink">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="deleteFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="run">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
<operation name="getFreeSpace">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://api.soap.shared.pmstation.com/"></soap:body>
</output>
</operation>
</binding>
<service name="DesktopAppJax2Service">
<port name="DesktopAppJax2Port" binding="tns:DesktopAppJax2PortBinding">
<soap:address location="http://api.4shared.com:80/jax3/DesktopApp"></soap:address>
</port>
</service>
</definitions>